<%= form_for(@comment) do |f| %>

  <%= f.text_field :text %>
  <%= f.hidden_field :post_id, value: post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
