<h2>profile of user: <%= @user.email %></h2>

<%= gravatar_for @user %>
  <%= @user.email %>

<% if @user == current_user %>

<h3>Friends:</h3>
<ul>
  <% for friendship in current_user.friendships %>
    <li>
      <%= link_to friendship.friend.email, show_user_path(friendship.friend.id) %>
      <%= link_to 'remove', friendship_destroy_path(:friend_id => current_user), :method => :delete %>
    </li>
  <% end %>
</ul>
<h3>Invites:</h3>
<ul>
  <% current_user.receved_invites.each do |invite| %>
    <li>
      <%= link_to invite.sender.email, show_user_path(:id => invite.sender.id) %>
      <%= link_to 'Accept invite', friendship_create_path(:friend_id => invite.sender) %>
    </li>
  <% end %>
</ul>

 <% end %>
<h3>Posts: </h3>

<h2>write post:</h2>
<%= render 'posts/form' %>
 <%= render partial: '/posts/post', collection: @posts %>
