<p>Author:</p>
<%= gravatar_for post.user %>
<%= post.user.email %>

<p>Title: <%= post.title %></p>
<p>Body: <%= post.body %></p>

<% if current_user == post.user %>
  <%= link_to 'delete post', post_path(post), :method => :delete %>
<% end %>

<p>likes: <%= post.likes.count %></p>

<% if !liked?(current_user,post) %>
  <p><%= link_to 'like it', likes_create_path(:user_id => current_user.id, :post_id => post.id) %></p>
<% else %>
  <p><strong><%= link_to 'unlike it', likes_destroy_path(:user_id => current_user.id, :post_id => post.id), :method => :delete %></strong></p>
<% end %>

<p>Comments: <%= render partial: 'comments/comment', collection: post.comments %> </p>

<%= render 'comments/form', post: post %>
