!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OdinFb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default
      .container
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'Timeline', '/'
              %li= link_to current_user.email, show_user_path(current_user.id)
              %li= link_to 'All Users', '/users'
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
    = yield
