<!DOCTYPE html>
<html>
  <head>
    <title>OdinFb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <br />
  <body>
    <% if user_signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      <%= link_to 'Profile', '/show_user' %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> or
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
