!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OdinFb
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .navbar.navbar-default
      .container
        .collapse.navbar-collapse
          = link_to 'BŁĘDY, SUGESTIE', 'http://goo.gl/n8jYOd'
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to 'Timeline', '/'
              %li= link_to current_user.email, show_user_path(current_user.id)
              %li= link_to 'All Users', '/users'
              - if current_user.receved_invites.any?
                %li.navbar-notification-on= link_to image_tag('bell.png', :class => 'notification-on'), '#'
              - else
                %li.navbar-notification-off= link_to image_tag('bell.png', :class => 'notification-off'), '#'
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
    = yield
